<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<web-app>

  <!-- MainServlet Configuration -->
  <servlet>
    <servlet-name>LibraryApp</servlet-name>
    <servlet-class>com.taursys.examples.library.LibraryApp</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LibraryApp</servlet-name>
    <url-pattern>/main/*</url-pattern>
  </servlet-mapping>

</web-app>

